body {
    overflow-y: hidden; 
}

svg {
    height: 100vh;
}

.instruction-overlay {
    background: #1A1A1A;
}

.instruction-overlay svg {
    width: 100vw;
    height: 100vh;
    display: block;
}

.in-game-instruction {
    position: fixed;
    display: none;
    z-index: 5000;
}

#in-game-instruction {
    width: 50vh;
    height: 50vh;
}

.keyboard {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    width: 30vw;
    height: 100vh;
    background-color: #1A1A1A;
    display: none;
}

.key-guide {
    position: absolute;
    left: 1vw;
    display: flex;
    z-index: 300;
    top: 40vh;
    /*margin: 30vh 1vw 0 1vw;
    width: 100%;
    height: 100%;*/
}

.arrow-guide {
    width: 5vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.arrow-guide svg {
    height: 10vh;
}

.arrow-guide.glow circle {
    stroke: #FFFF00 !important;
    stroke-width: 5 !important; 
}

.key {
    position: absolute;
    z-index: 200;
    width: 5vw;
    top: 110vh;
}

.key svg {
    height: 10vh;
}

.key.success circle {
    fill: #00c853 !important;
}

.key.failure circle {
   fill: #FF0000 !important;
}

.key--up {
    left: 9vw;
    animation: move-arrow 8s linear forwards;
}

.key--down {
    left: 16vw;
    animation: move-arrow 8s linear forwards;
}

.key--left {
    left: 2vw;
    animation: move-arrow 8s linear forwards;
}

.key--right {
    left: 23vw;
    animation: move-arrow 8s linear forwards;
}

@keyframes move-arrow {
    
    99% {
        opacity: 1;
        top: 0vh;
    }
    100% {
        top: 0vh;
        opacity: 0;
    }
}

.coaster-slow {
    animation: move-coaster-slow 60s linear forwards;
}

@keyframes move-coaster-slow {
    100% {
        transform: translate(-10000px, 0);
    }
}

.coaster-medium {
    animation: move-coaster-medium 40s linear forwards;
}

@keyframes move-coaster-medium {
    100% {
        transform: translate(-10000px, 0);
    }
}

.coaster-fast {
    animation: move-coaster-fast 30s linear forwards;
}

@keyframes move-coaster-fast {
    100% {
        transform: translate(-10000px, 0);
    }
}

/* ==========================================================================
   Instruction Overlay Animations
   ========================================================================== */

#leftcircle {
    animation: move-left-circle 8s linear forwards infinite;
    opacity: 0;
}

#topcircle {
    animation: move-top-circle 8s linear forwards infinite;
    opacity: 0;
}

#downcircle {
    opacity: 0;
}

#rightcircle {
    opacity: 0;
}

@keyframes move-left-circle {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    27% {
        opacity: 1;
        fill: #000;
    }
    28% {
        opacity: 1;
        fill: #fff;
    }
    49% {
        transform: translateY(-300px);
        opacity: 1;
        fill: #fff;
    }
    50% {
        transform: translateY(-300px);
        opacity: 0;
        fill: #fff;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
        fill: #fff;
    }
}

@keyframes move-top-circle {
    50% {
        transform: translateY(0px);
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        fill: #000;
    }
    90% {
        opacity: 1;
        fill: #fff;
    }
    99% {
        transform: translateY(-300px);
        opacity: 1;
        fill: #fff;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
        fill: #fff;
    }
}

#leftcircle circle{
    animation: fill-left-circle 8s linear forwards infinite;
}

#topcircle circle{
    animation: fill-top-circle 8s linear forwards infinite;
}

@keyframes fill-left-circle {
    27% {
        fill: #fff;
    }
    28% {
        opacity: 1;
        fill: #00c853;
    }
    49% {
        fill: #00c853;
    }
}

@keyframes fill-top-circle {
    89% {
        fill: #fff;
    }
    90% {
        opacity: 1;
        fill: #FF0000;
    }
    99% {
        fill: #FF0000;
    }
}

#circle1 {
    animation: glow-left-circle 8s linear forwards infinite;
}

#circle2 {
    animation: glow-top-circle 8s linear forwards infinite;
}

@keyframes glow-left-circle {
    20% {
        stroke: #fff;
    }
    21% {
        stroke: #ffff00;
        stroke-width: 5px;
    }
    40% {
        stroke: #ffff00;
        stroke-width: 5px;
    }
    41% {
        stroke: #fff;
        stroke-width: 3px;
    }
}

@keyframes glow-top-circle {
    70% {
        stroke: #fff;
        stroke-width: 3px;
    }
    71% {
        stroke: #ffff00;
        stroke-width: 5px;
    }
    90% {
        stroke: #ffff00;
        stroke-width: 5px;
    }
    91% {
        stroke: #fff;
        stroke-width: 3px;
    }
}


#leftkey path {
    animation: hit-left-key 8s linear infinite;
}

#leftkey polygon {
    animation: hit-left-key-arrow 8s linear infinite;
}

@keyframes hit-left-key {
    24% {
        fill: #F2F2F2;
    }
    25% {
        fill: #FFC107;
    }
    34% {
        fill: #FFC107;
    }
    35% {
        fill: #F2F2F2;
    }
}

@keyframes hit-left-key-arrow {
    24% {
        fill: #999;
    }
    25% {
        fill: #F2F2F2;
    }
    34% {
        fill: #F2F2F2;
    }
    35% {
        fill: #999;
    }
}


#instruction_upkey g:nth-child(2) path {
    animation: press-up-key 4s linear infinite;
}

#instruction_downkey g:nth-child(2) path {
    animation: press-down-key 4s linear infinite;
}

#instruction_rightkey g:nth-child(2) path {
    animation: press-right-key 4s linear infinite;
}

#instruction_leftkey g:nth-child(2) path {
    animation: press-left-key 4s linear infinite;
}

@keyframes press-up-key {
    0% {
        fill: #FFC107;
    }
    24% {
        fill: #FFC107;
    }
    25% {
        fill: #F2F2F2;
    }
}

@keyframes press-down-key {
    24% {
        fill: #F2F2F2;
    }
    25% {
        fill: #FFC107;
    }
    49% {
        fill: #FFC107;
    }
    50% {
        fill: #F2F2F2;
    }
}

@keyframes press-right-key {
    49% {
        fill: #F2F2F2;
    }
    50% {
        fill: #FFC107;
    }
    74% {
        fill: #FFC107;
    }
    75% {
        fill: #F2F2F2;
    }
}

@keyframes press-left-key {
    74% {
        fill: #F2F2F2;
    }
    75% {
        fill: #FFC107;
    }
    99% {
        fill: #FFC107;
    }
    100% {
        fill: #F2F2F2;
    }
}

#instruction_upkey g:nth-child(2) polygon {
    animation: press-up-key-arrow 4s linear infinite;
}

#instruction_downkey g:nth-child(2) polygon {
    animation: press-down-key-arrow 4s linear infinite;
}

#instruction_rightkey g:nth-child(2) polygon {
    animation: press-right-key-arrow 4s linear infinite;
}

#instruction_leftkey g:nth-child(2) polygon {
    animation: press-left-key-arrow 4s linear infinite;
}

@keyframes press-up-key-arrow {
    0% {
        fill: #F2F2F2;
    }
    24% {
        fill: #F2F2F2;
    }
    25% {
        fill: #999;
    }
}

@keyframes press-down-key-arrow {
    24% {
        fill: #999;
    }
    25% {
        fill: #F2F2F2;
    }
    49% {
        fill: #F2F2F2;
    }
    50% {
        fill: #999;
    }
}

@keyframes press-right-key-arrow {
    49% {
        fill: #999;
    }
    50% {
        fill: #F2F2F2;
    }
    74% {
        fill: #F2F2F2;
    }
    75% {
        fill: #999;
    }
}

@keyframes press-left-key-arrow {
    74% {
        fill: #999;
    }
    75% {
        fill: #F2F2F2;
    }
    99% {
        fill: #F2F2F2;
    }
    100% {
        fill: #999;
    }
}

@media only screen and (max-width: 1280px) {
    @keyframes move-coaster-medium {
        0% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(-500px);
        }
        20% {
            transform: translateX(-1000px);
        }
        30% {
            transform: translateX(-1700px);
        }
        40% {
            transform: translateX(-2100px);
        }
        50% {
            transform: translateX(-2800px);
        }
        60% {
            transform: translateX(-3500px);
        }
        70% {
            transform: translateX(-4000px);
        }
        80% {
            transform: translateX(-4500px);
        }
        100% {
            transform: translateX(-6000px);
        }
    }
}