body {
    overflow: hidden;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #11bfb2;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.character {
    height: 28vh;
    margin-top: 15vh;
}

.intro {
    font: 400 96px/96px 'Chicle', cursive;
    letter-spacing: 3.5px;
    margin: 0.75em auto 0.1em auto;
}

.position {
    font-family: 'Raleway Thin', cursive;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 4em;
}

.button {
    /*margin: 10vh auto;*/
    background-color: #FF811e;
    font-family: 'Source Sans Pro ExtraLight';
    font-size: 28px;
    letter-spacing: 0.5px;
    padding: 0.6em 1em 0.8em 1em;
    width: 12vw;
    margin-top: 1em;
    box-shadow: -8px 9px 0 rgba(0,0,0,0.1);
}

@media only screen and (max-width: 1500px) {
    .character {
        height: 35vh;
        margin-top: 10vh;
    }

    .position {
        margin-bottom: 3em;
    }

    .button {
        width: 18vw;
        font-size: 24px;
        padding: 0.4em 0.6em 0.7em 0.6em;
    }
}