body {
    overflow: hidden;
    margin: 0;
    background-color: #46c6e5;
}

.journey {
    width: 100%;
    height: 100%;
    background-color: #46c6e5;
}

.map {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: auto;
    /*transform: translate(-5%);*/
}

.landing-map {
    position: absolute;
    z-index: 1200;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@keyframes move-landing-map {
  100% {
    right: 100;
  }
}

@keyframes zoom-landing-map {
  100% {
    transform: scale(2);
  }
}

#flight-path {
    display: none;
}

/*** Cloud Animation ***/
.cloud {
    position: absolute;
    right: -100px;
    opacity: 0;
    z-index: 500;
    animation: move-cloud linear infinite;
}

.cloud--start {
    animation: move-cloud linear infinite;
}

/*.cloud1 {
    top: 12%;
    width: 130px;
    animation-duration: 30s;
    animation-delay: -5s;
}

.cloud2 {
    top: 6%;
    width: 100px;
    animation-duration: 30s;
    animation-delay: -26s;
}

.cloud3 {
    top: 25%;
    width: 80px;
    animation-duration: 30s;
    animation-delay: 2s;
}*/

.cloud4 {
    top: 21%;
    width: 130px;
    animation-duration: 45s;
    animation-delay: -20s;
}

.cloud5 {
    top: 15%;
    width: 100px;
    animation-duration: 45s;
    animation-delay: -5s;
}

.cloud6 {
    top: 7%;
    width: 125px;
    animation-duration: 45s;
    animation-delay: -12s;
}

.cloud7 {
    top: 10%;
    width: 125px;
    animation-duration: 45s;
    animation-delay: -28s;
}

.cloud8 {
    top: 20%;
    width: 150px;
    animation-duration: 45s;
    animation-delay: -36s;
}

.cloud9 {
    top: 26%;
    width: 100px;
    animation-duration: 45s;
    animation-delay: 0;
}

@keyframes move-cloud {
  0% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    transform: translateX(-105vw) scale(1.4);
    opacity: 1;
  }
}

#bio {
  
  margin: 0 auto;
  position: absolute;
  top: 41vh;
  left: 19vw;
  z-index: 1400;
  font-family: 'Raleway Regular', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0.1);
  padding: 3em 3em 2em 3em;
  box-sizing: border-box;
  display: none;
}

.quote {
  position: absolute;
  left: -0.5vw;
  top: 7.8vh;
  font-size: 400px;
  font-family: 'Raleway Regular', sans-serif;
  text-shadow: -4px 4px rgba(0,0,0,0.2);
}

.highlight {
  font-size: 72px;
  letter-spacing: 0.5px;
}

.bio-desc {
  margin-bottom: 2em;
  width: 52vw;
}

.bio-connection {
  width: 52vw;
  font-family: 'Raleway Light', sans-serif;
  font-size: 32px;
  line-height: 42px;
  color: rgba(255,255,255,0.9);
}

.button {
  background-color: transparent;
  width: 3vw;
  border: 3px solid rgba(255,255,255,0.8);
  font-size: 24px;
  padding: 0.1em 0.4em 0.2em 0.4em;
  margin-top: 2em;
  text-align: center;
  transition: all 0.5s;
}

.button svg {
  height: 20px;
}

@media only screen and (max-width: 1280px) {

    .quote {
      left: -0.5vw;
      top: 7.8vh;
      font-size: 200px;
    }

    .highlight {
      font-size: 56px;
      letter-spacing: 0.5px;
    }


    #bio {
      font-size: 18px;
      line-height: 32px;
      left: 14vw;
    }

    .bio-desc {
      width: 66vw;
    }
}